
body {
    /* background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.qy7UVkPE39xqLs3S-6GTfAHaE2%26pid%3DApi&f=1&ipt=93f338833c998b32dc18d756ae3094d21174bcdbb7c99e35263d3ef2373cd206&ipo=images"); */
    background-image: url("https://cdn.wallpapersafari.com/19/75/i2vCxT.jpg");
    /* background-color: #2283a6 !important; */
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container {
    background-color: #ffffff18;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

form {
    display: grid;
    gap: 15px;
}

label {
    font-weight: bold;
}
input {
    background-color: rgba(220, 209, 209, 0.277);
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #cccccc17;
    border-radius: 4px;
    
}
